<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conctact</title>
</head>
<body>
  <a href="{{ url_for('index') }}">Regresar</a>
  <h1>Contacto</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit beatae dolore non officiis eligendi earum officia optio veritatis doloremque, unde placeat totam doloribus ratione ut, fugit quaerat magni vel necessitatibus.
  <1></1></p>
</body>
</html>